<div class="item-card mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Coolness factor</h2>
  </div>
  <div class="mdl-card__supporting-text">
    <form [formGroup]="myForm">
      <input type="range" formControlName="min" [min]="min" [max]="max" [step]="step">
      <p>min - {{minValue | async}}</p>
      <input type="range" formControlName="max" [min]="min" [max]="max" [step]="step">
      <p>max - {{maxValue | async}}</p>
    </form>
  </div>
</div>
